# Treating Categorical Features
Based on http://queirozf.com/entries/one-hot-encoding-a-feature-on-a-pandas-dataframe-an-example

One way to treat categorical features is to encode them using dummy variables.<br/>
A categorical feature that can assume one out of K values, can be encoded with K-1 dummy variables.

In [1]:
import pandas as pd


# df now has two columns: name and country
df = pd.DataFrame({
        'name': ['josef', 'michael', 'john', 'bawool', 'klaus'],
        'country': ['russia', 'germany', 'australia', 'korea', 'germany']
     })

df

     country     name
0     russia    josef
1    germany  michael
2  australia     john
3      korea   bawool
4    germany    klaus

In [2]:
# use pd.concat to join the new columns with your original dataframe
df = pd.concat([df,pd.get_dummies(df['country'], prefix='country', drop_first=True)],axis=1)

# now drop the original 'country' column (you don't need it anymore)
df.drop(['country'],axis=1, inplace=True)

In [3]:
df

      name  country_germany  country_korea  country_russia
0    josef                0              0               1
1  michael                1              0               0
2     john                0              0               0
3   bawool                0              1               0
4    klaus                1              0               0

Some nice articles you can read about it:<br/>
http://www.statsmodels.org/devel/contrasts.html<br/>
http://www.algosome.com/articles/dummy-variable-trap-regression.html<br/>